#carZone {
    width: 600px; 
    margin: auto;
    border: 1px solid black;
}
h1 {text-align: center;}
#car {
    width: 100%;
    border-collapse: collapse;
}
#car th, #car td {
    border: 1px solid black;
    text-align: center;
}
#car thead {
    background-color: blanchedalmond;
}
#totalTxt { background-color: blanchedalmond;}
#total {
    border: none;
    text-align: center;
    font-size: 1.5em;
    background-color: lightblue;
}